img{
    border-radius: 20px;
    margin-top: 10px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.titol{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}